<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head :: headTag"/>
  <body>
	<div class="container-fluid">
		<div th:include="${linkNavigation.href}"></div>
		<div class="row">
			<div th:include="navigation/sidebar :: sidebar"></div>
			<div id="pageContent" th:fragment="movies">
				<div class="span10 well">
					<div class="row">
						<div class="span10" style="padding-top: 20px">
							<p class="searchDescription">Search-Result for <i class="searchString" th:text="${searchString}"></i></p>
							<table class="table table-striped table-hover">
								<tr th:each="movie : ${movies}">
									<td class="span6"><a class="render-partial" href="./movie.html"
										th:href="@{${movie.getLink('self').href}}"
										th:text="${movie.content.title}">Skyfall</a></td>
									<td class="span1"><a class="render-partial" href="./comments.html"
										th:href="@{${movie.getLink('comments').href}}"><i
											class="icon-th-list"></i></a></td>
									<td class="span1"><a class="render-modal" id="moviesTagsLink"
										href="./tags.html" th:href="@{${movie.getLink('tags').href}}"><i
											class="icon-tags"></i></a></td>
									<td class="span1"><a class="render-modal" href="#" th:href="@{${movie.getLink('actors').href}}"><i
											class="icon-user"></i></a></td>
								</tr>
								<tr th:remove="all">
									<td><a href="./movie.html">Star Wars</a></td>
									<td><a href="./comments.html"><i class="icon-th-list"></i></a></td>
									<td><a href="./tags.html"><i class="icon-tags"></i></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div id="genericModal" class="modal hide" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-body">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
