<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Movie Database</title>
    <!-- Bootstrap -->
    <link href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <style>
      body { padding-top: 80px; /* 80px to make the container go all the way
      to the bottom of the topbar */ }
    </style>  
  </head>
  <body>
	<div class="container-fluid">
		<div th:include="fragments/searchbar :: searchbar"></div>
		<div class="row">
			<div th:include="fragments/sidebar :: sidebar"></div>
			<div  id="pageContent" th:fragment="movie">
				<div class="span10">
					<div class="row">
						<h2 class="span4 offset2" th:text="${movie.content.title}">Star Wars</h2>
					</div>
					<div class="row">
						<div class="span2">
							<span>Release date</span>
						</div>
						<div class="span8">
							<p th:if="${movie.content.startDate != null}" th:text="${#dates.format(movie.content.startDate, 'dd.MM.yyyy')}">22.12.2012</p>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<span>Description</span>
						</div>
						<div class="span8">
							<p th:text="${movie.content.description}">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
						</div>
					</div>
					<div class="row">
						<a class="btn btn-primary offset2" href="./movie_edit.html" th:href="${movie.getLink('edit').href}">Edit</a>
						<a class="btn" href="./comments.html" th:href="${movie.getLink('comments').href}">Comments</a>
						<a class="btn" href="./tags.html" th:href="${movie.getLink('tags').href}">Tags</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../resources/js/custom.js" th:src="@{/resources/js/custom.js}"></script>
  </body>
</html>