<div class="span10 offset2">
  <div class="row">
    <h2 class="span4 offset2">{{ ctrl.movie.title }}</h2>
  </div>
  <div class="row">
    <div class="span2">
      <span>Description</span>
    </div>
    <div class="span8">
      <p>{{ ctrl.movie.description }}</p>
    </div>
  </div>
</div>

<div class="row">
  <form class="form-horizontal" role="form" name="form" ng-submit="form.$valid && ctrl.save()">
    <div class="control-group" style="padding-top:20px">
      <label class="control-label" for="quantity">Quantity</label>
      <div class="controls">
        <input class="input-block-level" name="movieQuantity"
                   ng-model="ctrl.movie.quantity" id="quantity"/>
      </div>
      <label class="control-label" for="price">Price</label>
      <div class="controls">
        <input class="input-block-level" name="moviePrice"
                   ng-model="ctrl.movie.price" id="price"/>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="./movie.html" class="btn">Back to movie list</a>
    </div>
    </div>
  </form>
</div>
