<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head th:replace="head :: headTag">
    <title>Movie Database</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.1/css/bootstrap.min.css" 
    		th:href="@{/webjars/bootstrap/2.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <style>
      body { padding-top: 80px; /* 80px to make the container go all the way
      to the bottom of the topbar */ }
    </style>  
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"
            th:src="@{/webjars/jquery/1.8.2/jquery.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.1/js/bootstrap.min.js" 
    		th:src="@{/webjars/bootstrap/2.2.1/js/bootstrap.min.js}"></script>
  </head>
  <body>
	<div class="container-fluid">
		<div th:include="${linkNavigation.href}"></div>
		<div class="row">
			<div th:include="navigation/sidebar :: sidebar"></div>
			<div id="pageContent">
				<div class="span10 well">
					<div class="row">
						<div class="span10" style="padding-top: 20px">
							<p class="searchDescription">Search-Result for <i class="searchString" th:text="${searchString}"></i></p>
							<div  th:fragment="actors">
								<table class="table table-striped table-hover">
									<tr th:each="actor : ${actors}">
										<td class="span6"><a href="./actor.html"
											th:href="@{${actor.getLink('self').href}}"
											th:text="${actor.content.firstname}+' '+${actor.content.lastname}">Claire Danes</a></td>
									</tr>
									<tr th:remove="all">
										<td><a href="./actor.html">Harrison Ford</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
