form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


table td:last-child {
  width: 45px;
  text-align: right;
}

.reveal-animation.ng-enter {
  opacity: 0;
}
.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

input.ng-invalid.ng-dirty {
  background: #FA787E;
}
